# Ignore notebook checkpoints 
.ipynb_checkpoints

# Ignore output images
*.png

# Ignore intermediate testing artifacts 
__pycache__

# Ignore the virtual environment directory
venv

# Ignore build artifacts 
*.egg-info



